@using CMS_Application.Models
<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <style>
        * {
            font-family: serif;
        }
        .field-validation-error {
            color: red;
        }

        .input-validation-error {
            border: 1px solid red;
            background-color: salmon;
        }

        .selected-post {
            margin: auto;
            border: 0.5px solid #1e1e1e;
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .HomeDisplay {
            margin: auto;
            width: 50%;
            padding: 10px;
            margin-bottom: 20px;
        }

        .post-body {
            width: 50%;
        }

        .UserInfo {
            width: 50%;
        }

        .Form {
            margin: auto;
            margin-top: 70px;
            width: 50%;
            padding: 10px;
        }



       
    </style>
</head>
<body>
    <div class="row mt-3">
        <div class="col-sm-4 col-md-4 col-lg-3">
            <div style="margin-left:80%"><img src="/Images/cms2.jpg" style="max-width:100px" /></div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9">
            <h1 class="mt-4 mb-4 ml-3" style="font-family: serif; color: #2F71B2">CAMPUS MANAGEMENT SYSTEM</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="d-flex justify-content-center align-items-center mb-5">
                @RenderBody()
            </div>
        </div>
    </div>
    
</body>
</html>