

@using CMS_Applicaion.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="ml-3 text-primary">Classroom Portal</h3>     
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        @foreach (Class c in Model.Courses)
        {
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="#" class="text-dark">
                    <div class="card my-2 bg-light">
                        <div class="card-body">
                            <h4 class="card-title text-dark">@c.Name</h4>
                            <ul>
                                <li><a href="#Attendanve">Attendence</a></li>
                                <li><a href="#GradeBook">GradeBook</a></li>
                                <li><a asp-controller="Class" asp-action="Announcements" asp-route-cid="@c.Id" asp-route-id="@Model.Id">Announcements</a></li>
                            </ul>
                        </div>
                    </div>
                </a>

            </div>
        }
    </div>
</div>






